---
interface Props {
  args?: string;
}

const { args: className } = Astro.props;
---

<div class={`absolute animate-blob ${className}`}> 
  <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
    <path
      fill="currentColor"
      d="M44.7,-76.4C58.8,-69.2,71.8,-59.1,79.6,-45.8C87.4,-32.5,90,-16.3,88.5,-0.9C87,14.5,81.4,28.9,73.6,42.4C65.8,55.9,55.9,68.4,42.2,76.5C28.5,84.5,11.8,88.1,-2.9,92.5C-17.6,96.8,-35.1,101.9,-48.4,94.6C-61.7,87.3,-70.7,67.6,-77.1,53.4C-83.5,39.3,-87.3,19.6,-88.2,-0.5C-89.1,-20.6,-87.2,-41.2,-77.6,-54.8C-68,-68.4,-50.8,-75,-35.2,-79.1C-19.6,-83.2,-5.4,-84.8,5.8,-94.8C17,-104.8,30.6,-83.6,44.7,-76.4Z"
      transform="translate(100 100)"
    />
  </svg>
</div>