---
import Blob from './Blob.astro';
import SearchBar from './SearchBar.astro';
import SearchhBar from './SearchBar.astro';
---

<section class="relative min-h-[80vh] flex items-center overflow-hidden">
  <!-- Blobs -->
  <div class="absolute inset-0 overflow-hidden -z-10">
    <Blob args="top-0 -left-48 w-96 h-96 text-blue-400" />
    <Blob args="bottom-0 -right-48 w-96 h-96 text-blue-400" />
  </div>

  <div class="relative w-full max-w-5xl mx-auto px-4 sm:px-6 lg:px-8 py-16 sm:py-24">
    <div class="text-center space-y-8">
      <div class="relative space-y-4">
        <h1 class="text-4xl sm:text-5xl lg:text-6xl font-extrabold tracking-tight text-nowrap">
          Create stunning star graphs for your <br>
          <span class="bg-gradient-to-r from-primary to-secondary bg-clip-text text-transparent">
            GitHub Repository
          </span>
        </h1>
        <p class="max-w-2xl mx-auto text-xl text-text/70">
          Visualize and share your repository's stars with beautiful, insightful graphs.
        </p>
      </div>

      <SearchBar client:only="react" />



    </div>
  </div>
</section>